<ion-content [fullscreen]="true" class="ion-padding">
    <swiper-container class="swiper-pagination" style="position: none;" #swiper [loop]="true"
    [pagination]="{ clickable: true }" [zoom]="true">


    <swiper-slide style="background-color: pink;">
      <div class="swiper-zoom-container p-4">
        <img src="assets/Icon_SportsChamp.png" style="width: 40%; margin-left: 10px;" alt="" />
      </div>
      <div class="-mt-5">
        <img style="background: transparent; padding: 10px;" src="assets/s1.png" alt="">
      </div>
      <div class="mt-10">
        <p>Take Your Fitness Test</p>
      </div>

    </swiper-slide>

    <swiper-slide style="background-color: pink;">
      <div class="swiper-zoom-container p-4">
        <img src="assets/Icon_SportsChamp.png" style="width: 40%; margin-left: 10px;" alt="" />
      </div>
      <div class="-mt-5">
        <img style="background: transparent; padding: 10px;" src="assets/s2.png" alt="">
      </div>
      <div class="mt-10">
        <p>Calorie and meal plan</p>
      </div>

    </swiper-slide>



    <swiper-slide style="background-color: pink;">
      <div class="swiper-zoom-container p-4 mt-12">
        <img src="assets/Icon_SportsChamp.png" style="width: 40%; margin-left: 10px;" alt="" />
      </div>
      <div class="-mt-5">
        <img style="background: transparent; padding: 10px;" src="assets/s3.png" alt="">
      </div>
      <div class="mt-10">
        <p>Step Tracker</p>
      </div>

    </swiper-slide>


  </swiper-container>

  <div align="center" class="p-7" style="position: absolute; bottom: 0; right: 0; width: 100%;" >
    <button class="btn-grad mt-8" routerLink="/login">
      <span style="font-weight: bold; font-size: 0.9rem">Next</span>
    </button>
  </div>



</ion-content>
<!-- <p>Create your own calorie and meal plan</p> -->
<!-- <div style="margin-top: 40%; bottom: 0; width: 100%;">
  <button class="btn-grad mt-8" routerLink="/login">
    <span style="float: center; font-weight: bold; font-size: 0.9rem">Next</span>
  </button>
</div> -->

<!-- <ion-content [fullscreen]="true" class="ion-padding">
  <div style="margin-top: 10%" align="center">
    <img class="slide-in-top" src="assets/Icon_SportsChamp.png" style="width: 33%; margin-left: 10px;" alt="" /> <br>
  </div>

  <swiper-container
  #swiper
  (slidechange)="swiperSlideChanged($event)"
  [loop]="true"
  [pagination]="true"
  [zoom]="true">
    <swiper-slide >
      <div class="swiper-zoom-container p-4">
       <img src="assets/home-logo.png" alt="">
      </div>
      <p class="mt-5">Take Your Fitness Test</p>

    </swiper-slide>

    <swiper-slide >
      <div class="swiper-zoom-container p-4">
        <img src="assets/home-logo.png" alt="">
      </div>
      <p class="mt-5">create your own calorie and meal plan</p>

    </swiper-slide>

    <swiper-slide >
      <div class="swiper-zoom-container p-4">
        <img src="assets/home-logo.png" alt="">
      </div>
      <div class="mt-5">
        <p>Step Tracker</p>
      </div>
    </swiper-slide>
  </swiper-container>

<div style="padding-top: 50%;">
  <ion-button expand="block" routerLink="/login">
    Next
  </ion-button>
</div>
</ion-content> -->