

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <swiper-container #swiper [loop]="true" [pagination]="true" [zoom]="true"> -->
    <swiper-container class="swiper-pagination" style="position: none;" #swiper [loop]="true" [pagination]="{ clickable: true }" [zoom]="true">
 

    <swiper-slide style="background-color: pink;">
      <div class="swiper-zoom-container p-4">
        <img src="assets/Icon_SportsChamp.png" style="width: 33%; margin-left: 10px;" alt="" />
      </div>
      <div>
        <img   style="background: transparent;" src="assets/fitness-s1.png" alt="">
      </div>
      <div class="mt-10">
        <p>Take Your Fitness Test</p>
      </div>
        <!-- <div style="margin-top: 40%; bottom: 0; width: 100%;">
          <button class="btn-grad mt-8" routerLink="/login">
            <span style="float: center; font-weight: bold; font-size: 0.9rem">Join fit india</span>
          </button>
        </div> -->
    </swiper-slide>

    <swiper-slide style="background-color: blue;">
      <div class="swiper-zoom-container p-4">
        <img src="assets/Icon_SportsChamp.png" style="width: 33%; margin-left: 10px;" alt="" />
      </div>
      <div  class="mt-5">
        <img src="assets/meal-s2.png" alt="">
      </div>
      <div class="mt-10">
        <p>Create your own calorie and meal plan</p>
      </div>

      <!-- <div style="margin-top: 40%; bottom: 0; width: 100%;">
        <button class="btn-grad mt-8" routerLink="/login">
          <span style="float: center; font-weight: bold; font-size: 0.9rem">Join fit india</span>
        </button>
      </div>
       -->
    </swiper-slide>

    <swiper-slide style="background-color: red;">
      <div class="swiper-zoom-container p-4">
        <img src="assets/Icon_SportsChamp.png" style="width: 33%; margin-left: 10px;" alt="" />
      </div>
      <div align="center"  class="mt-8">
        <img width="82%" height="82%" src="assets/step-s3.png" alt="">
      </div>
      <div class="mt-10">
        <p>Step Tracker</p>
      </div>
      <!-- <div style="margin-top: 40%; bottom: 0; width: 100%;">
        <button class="btn-grad mt-8" routerLink="/login">
          <span style="float: center; font-weight: bold; font-size: 0.9rem">Join fit india</span>
        </button>
      </div> -->
    </swiper-slide>
  </swiper-container>
  <div style="margin-top: 30%; bottom: 0; width: 100%;">
    <button class="btn-grad mt-8" routerLink="/login">
      <span style="float: center; font-weight: bold; font-size: 0.9rem">Join fit india</span>
    </button>
  </div>

</ion-content>
<!-- <div style="margin-top: 40%; bottom: 0; width: 100%;">
  <button class="btn-grad mt-8" routerLink="/login">
    <span style="float: center; font-weight: bold; font-size: 0.9rem">Join fit india</span>
  </button>
</div> -->

<!-- <ion-content [fullscreen]="true" class="ion-padding">
  <div style="margin-top: 10%" align="center">
    <img class="slide-in-top" src="assets/Icon_SportsChamp.png" style="width: 33%; margin-left: 10px;" alt="" /> <br>
  </div>

  <swiper-container
  #swiper
  (slidechange)="swiperSlideChanged($event)"
  [loop]="true"
  [pagination]="true"
  [zoom]="true">
    <swiper-slide >
      <div class="swiper-zoom-container p-4">
       <img src="assets/home-logo.png" alt="">
      </div>
      <p class="mt-5">Take Your Fitness Test</p>

    </swiper-slide>

    <swiper-slide >
      <div class="swiper-zoom-container p-4">
        <img src="assets/home-logo.png" alt="">
      </div>
      <p class="mt-5">create your own calorie and meal plan</p>

    </swiper-slide>

    <swiper-slide >
      <div class="swiper-zoom-container p-4">
        <img src="assets/home-logo.png" alt="">
      </div>
      <div class="mt-5">
        <p>Step Tracker</p>
      </div>
    </swiper-slide>
  </swiper-container>

<div style="padding-top: 50%;">
  <ion-button expand="block" routerLink="/login">
    Join fit india
  </ion-button>
</div>
</ion-content> -->

