#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.quote{
  text-align: center;
  // font-size: 3.3rem;
  margin: auto;
  padding: 15px;
  // border: 2px solid black;
  max-width: 70%;
  position: relative;
  margin-top: 100px;
}
blockquote{
  color: black;
  // text-shadow: -1px 1px #555;
  font-style: italic;
  position: relative;
  z-index: 20;
}
.left{
  position: absolute;
  top: -20px;
  left: -20px;
  width: 80px;
  text-align: left;
  z-index: 10;
  font-size: 8rem;
  color: #336699;
  // background-color: #fff;
  background-color: transparent;
  line-height: 80px;
}
.right{
  position: absolute;
  bottom: -50px;
  right: -20px;
  width: 70px;
  text-align: right;
  z-index: 10;
  font-size: 8rem;
  color: #336699;
  // background-color: #fff;
  background-color: transparent;
  line-height: 125px;
}
small{
  font-size: 1.7rem;
  color: #336699;
  position: relative;
  z-index: 20;
  
  &:before{
    content: "\2014 \0020";
    width: 5px;
  }
}

ion-content {
  --background: url(../../assets/bg-login.png) no-repeat center/cover fixed;
}

.back-img{
  background: transparent;
}