<ion-content>
  <div style="margin-top: 10%" align="center">
    <img class="slide-in-top" src="assets/Icon_SportsChamp.png" style="width: 33%; margin-left: 10px;" alt="" /> <br>

  </div>

  <!-- <div class="quote">
    <span class="left">❝</span>
    <blockquote>
      <b>Fitness</b> Dose,<br>
      Aadha Ghanta <b>Roz</b>
    </blockquote>
    <span class="right">❞</span>
  </div> -->
  <div align="center">
    <p class="text-xl mt-10"> <b>Fitness</b> Dose,<br>
      Aadha Ghanta <b>Roz</b></p>
  </div>


  <div routerLink="/slide" style="margin-top: 20%;">
    <img class="back-img mt-20" src="assets/home-logo.png" alt="">
  </div>
</ion-content>