
ion-toolbar {
    --background: linear-gradient(90deg, #d00681 0%, #eb0085 100%);
  }
.text-body {
    font-size: .7em;
    padding-bottom: 1px;
    color: gray;
   }
   .imgdiv{
    width: 100%;
    height: 50%;
   }

   .image-container{
    height: 250px; /* It doesn't have to be '%'. It can also use 'px'. */
    width: 100%;
    margin: 0 auto;
    padding: 0;
  
    // background-image: url(../img/exampleImage.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
  }