<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light"> Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="">
    <img class="image-container w-full" src="assets/blog2.png" alt="">
  </div>
  <div class="p-4">
    <div class=" flex justify-between  pt-2">
      <ion-label class="text-lg font-semibold " style="color: #4f4f4f;;">Times of Sports</ion-label>
      <ion-icon class="border border-gray-300 text-gray-400 rounded-full shadow-sm p-3" name="heart-outline"></ion-icon>
    </div>
   
    <p class="text-pink-600 text-xs -mt-4 pl-1">Dr. M.K.Patil | 18 Dec 2020 </p>

 
    <div class="border-b border-dashed border-b-2 my-2 mt-2"></div>


    <p class="text-body text-left">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus numquam totam in aliquid facere sed, quam voluptate illo sunt nemo? Facere tempora adipisci fugit quod accusantium labore aliquid doloremque temporibus.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus numquam totam in aliquid facere sed, quam voluptate illo sunt nemo? Facere tempora adipisci fugit quod accusantium labore aliquid doloremque temporibus.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus numquam totam in aliquid facere sed, quam voluptate illo sunt nemo? Facere tempora adipisci fugit quod accusantium labore aliquid doloremque temporibus.
    </p>
 
    <div class="border-b border-dashed border-b-2 my-2 mt-2"></div>

    <div class=" flex justify-between pr-4  pb-3">
      <ion-label class="text-md  font-semibold " style="color: #4f4f4f;;">Featured Stories</ion-label>
      <p class="text-xs pt-1 font-semibold" style="color: #0d4168;"></p>
    </div>

    <p class="text-body text-left" >100% Original Products</p>
    <p class="text-body text-left" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus numquam totam in aliquid facere sed, quam voluptate illo sunt nemo? Facere tempora adipisci fugit quod accusantium labore aliquid doloremque temporibus.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus numquam totam in aliquid facere sed, quam voluptate illo sunt nemo? Facere tempora adipisci fugit quod accusantium labore aliquid doloremque temporibus.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus numquam totam in aliquid facere sed, quam voluptate illo sunt nemo? Facere tempora adipisci fugit quod accusantium labore aliquid doloremque temporibus.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus numquam totam in aliquid facere sed, quam voluptate illo sunt nemo? Facere tempora adipisci fugit quod accusantium labore aliquid doloremque temporibus.</p>
 
    <div class="border-b border-dashed border-b-2 my-2 mt-2"></div>

  </div>

 

</ion-content>